
.menu_bar {
    text-align: center;
    background: rgba(173,216,230, 0.5);
    padding-bottom: 30px;
    padding-top: 3px;
    border-bottom-right-radius: 240px;
}

.menu {
  color:#999;
  background:rgba(95,158,160, 0.5);
  padding: 10px 30px;
  font-size:15px;
  color: black;
  margin: 10px;
  margin-top: 20px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.menu:hover {
    color: orange;
    background: rgba(47,79,79,0.5);
    border-radius: 25px;
    transition: all .2s ease-out;
}

h1 {
    font-family: Chicle;
    text-align: center;
    font-size: 70px;
    margin-bottom: 0;
    float: center;
    letter-spacing: 4px;
    position: relative;
}

h2 {
    font-family: Varela Round;
    margin-left:250px;
    margin-top: 5px;
    margin-bottom: 30px;
    position: relative;
}

#logo {
    content: url("resources/logoDyweko2.png");
    float: right;
    padding-top 25px;
    right: 20px;
    top: 10px;
    position: relative;
    margin-right: 0;
}

#layout{
    width: 900px;
    height: 800px;
    background: url('resources/pranie1.jpg') top left no-repeat;
    float: left;
    border-radius: 400px;
    margin-bottom: 0px;
}

#content {
    background-color: rgba(128,128,0,0.8);
    float: right;
    width: 550px;
    position: absolute;
    margin-top: 50px;
    margin-left: 770px;
    box-shadow: 8px 8px rgba(0,0,0,0.5);
    border-radius: 10px;
}

p {
    text-shadow: 1px 0px 0px black;
    margin: 15px;
    text-align: center;
    font-size: 25px;
    font-family: 'Merriweather' sans-serif;
    letter-spacing: 1px;
}

footer {
    clear: both;
    position: relative;
    display: block;
    background-color: gray;
    text-align: center;
}

.footer {
    display: inline-block;
    padding: 5px 5px;
    font-size:12px;
    color: black;
    text-decoration:none;
    letter-spacing:1px;
    text-transform:uppercase;

}

#shop {
    display: inline;
    margin: 50px;
}

#contact {
    display: inline;
    margin: 50px;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top: 20px;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
